<h1>ユーザ情報</h1>
<table class="table">
		<tr><%= attachment_image_tag(end_user, :profile_image, size:'100x100', fallback: "no_image.jpg") %></tr>

		<tr>
			<th>ユーザ名</th>
			<th><%= end_user.name %></th>
		</tr>

</table>
<div class="row", style="margin: 30px 0;">
    <%= link_to "ユーザページ", end_user_path(end_user), class: "btn btn-outline-primary col-xs-12"%>
</div>
<% if end_user_signed_in? && end_user == current_end_user%>
<div class="row", style="margin: 30px 0;">
    <%= link_to "ユーザ編集", edit_end_user_path(end_user), class: "btn btn-outline-warning col-xs-12"%>
</div>
<% end %>