<h1>ユーザ情報</h1>
<table class="table">
		<tr><%= attachment_image_tag(end_user, :profile_image, size:'100x100', fallback: "no_image.jpg") %></tr>

		<tr>
			<th>ユーザ名</th>
			<th><%= end_user.name %></th>
		</tr>

</table>
<div class="row", style="margin: 30px 0;">
    <%= link_to "ユーザページ", root_path, class: "btn btn-outline-primary col-xs-12"%>
</div>