<table class="table">
<thead>
<tr>
    <td></td>
    <td>ユーザ名</td>
    <td>リスト作成数</td>
</tr>
</thead>
<tbody>
<% @end_users.each do |end_user|%>
<tr>
    <td><%= attachment_image_tag(end_user, :profile_image, size:'50x50', fallback: "no_image.jpg") %></td>
    <td><%= link_to end_user.name, end_user_path(end_user) %></td>
    <td><%= count_create_lists(end_user)%>
</tr>

<% end %>
</tbody>
</table>