<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-3">
        <% if end_user_signed_in?%>
            <%= render 'public/end_users/info', end_user: @end_user %>
            <%= render 'public/lists/form', list: @list%>
        <% end %>

        </div>
        <div class="col-xs-12 col-md-9">
            <h1 style="margin-bottom: 30px;"><%=@end_user.name%>の作成したリスト一覧</h1>
            <%= render 'public/lists/table', lists: @lists%>
        </div>
    </div>
</div>