<div class="row">
    <% calorie_text = ''%>
    <% if calorie_permission(list)%>
    <% total_calorie = 0%>
    <% list_elements.each do |le|%>
    <% total_calorie += le.calorie%>
    <% end %>
    <% calorie_text = '計'+total_calorie.to_s+'kcal,' %>
    <% end %>
    <h2 class="col-xs-6 col-xs-offset-6">計<%=total_price%>円,<%=calorie_text%>計<%=list_elements.count%>回</h2>
    <%= link_to "Tweetする", twitter_link, class:"fab fa-twitter btn btn-primary col-xs-4 col-xs-offset-8", style: "margin-top: 50px;"%>
</div>