<table class="table">
<thead>
<tr>
    <td>要素名</td>
    <% if list.contains_price %>
    <td>値段(円)</td>
    <% end %>
    <% if list.contains_calorie%>
    <td>カロリー(kcal)</td>
    <% end %>
    <td>詳細</td>
</tr>
</thead>
<tbody>
<% list_elements.each do |list_element|%>
<tr>
    <td><%= list_element.name %></td>
    
    <% if list.contains_price %>
        <td><%= list_element.price%></td>
    <% end %>
    
    <% if list.contains_calorie %>
    <td><%= list_element.calorie %></td>
    <% end %>
    <td><%= list_element.introduction.truncate(20)%>
    
</tr>
<% end %>
</tbody>
</table>