<table class="table">
<thead>
<tr>
    <td>要素名</td>
    <% if list.add_price_element %>
    <td>値段(円)</td>
    <% end %>
    <% if list.add_calorie%>
    <td>カロリー(kcal)</td>
    <% end %>
    <td>詳細</td>
</tr>
</thead>
<tbody>
<% list_elements.each do |list_element|%>
<tr>
    <td><%= list_element.name %></td>
    
    <% if list.add_price_element %>
        <td><%= list_element.price%></td>
    <% end %>
    
    <% if list.add_calorie %>
    <td><%= list_element.calorie %></td>
    <% end %>
    
</tr>
<% end %>
</tbody>
</table>